/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

$dark-color: #292929;
$light-dark-color: #353535;
$grey-color: #505050;
$white-color: #f7f4ed;
$active-color: #ff9900;
$brand-color: #2fb7f7;

$h1: 24px;
$title: 18px;
$big-p: 14px;
$p: 14px;
$link: 12px;

body {
  background-color: $dark-color;
}
