/* Скрываем header и footer внешнего layout */
:global(div[class*="layoutContainer"] > header) {
    display: none !important;
}

:global(div[class*="layoutContainer"] > footer) {
    display: none !important;
}

/* Отключаем влияние внешнего main */
:global(div[class*="layoutContainer"] > main) {
    padding: 0 !important;
    margin: 0 !important;
    background: none !important;
    min-height: auto !important;
}
